body {
    width: 800px;
    margin: 0 auto;
    background-color: #ea4;
}
.main {
    background-color: #F3CF75;
    border-left: 1px solid #a06f00;
    border-right: 1px solid #a06f00;
}
div#main-columns {
    display: inline-block;
}
.primary {
    width: 500px;
}
.secondary {
    width: 200px;
}
